@import url('popup.css');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.5;

    background-image: url('assets/6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 50;
    color: white;

}

header, footer {
    padding: 1%;
}

section{
    padding-left: 30%;
    padding-right: 30%;

    margin-top: 2%;
    margin-bottom: 2%;

    align-items: center;
}

.main_box{
    padding: 2%;
    padding-left:10%;
    padding-right:10%;

    border-style: solid;
    border-color: white;
    border-radius: 8px;
    
    background: rgba(2, 2, 2, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;

}


.profile-section{
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    gap: 50px;

}

    .profile-pic{
        height: 100px;
        width: 100px;
        
        border-radius: 50%;

        background-image: url('assets/prof-pic.jpg');
        background-size: cover;
        background-position: center; }

    .user-name{
        display: flex;
        flex-direction: column;

        gap: 15px; }

        .stats{
            display: flex;
            flex-direction: row;

            gap: 50px;
            line-height: 1.5;

            font-weight: 400; }

        .name p{ font-weight: 600; font-size: 18px;}
        .text-label{font-weight: 600;}

.bio-section{
    width: 100%;

    line-height: 1.2;
}

.tags{
    padding-top: 2%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    font-weight: 100;
    font-size: 13px;

    gap: 10px;
}

    .book, .series{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        border-width: 0.2px; 
        border-style: solid;

        border-radius: 15px;
        border-color: rgba(255, 253, 253, 0.36); 

        width: fit-content;}

    .music{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 5px;
        
        font-weight: 100;
        font-size: 13px;

        border-width: 0.2px; 
        border-style: solid;

        border-radius: 15px;
        border-color: rgba(255, 253, 253, 0.36); 

        width: fit-content;}
    .by, .song-title{ padding-bottom: 2px;}
    .by{font-weight: 500;}

.socials{
    margin-right: 10%;
    gap: 4%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

    .social-box{
        width: 100%; 
        
        border-style: solid;
        border-width: 1.5px;
        border-radius: 10px;
        
        display: flex;
        align-items: center;
        justify-content: center;}

    .icon-box{
        padding: 6px 20px 4px 20px ; 
        border-style: solid;
        border-width: 1.5px;
        border-radius: 10px;
    }

.stories-section{
    margin-right: 10%;
    gap: 12%; 

    display: flex;
    flex-direction: row;
    align-self: flex-start;
}
    
    .story{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story-thumbnail{
        width: 60px;
        height: 60px;

        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        cursor: pointer;

        overflow: hidden;
        transition: all 0.3s ease;
    }

    .story-thumbnail1{
        width: 60px;
        height: 60px;

        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #61C4DB;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .liquid1{
        background: linear-gradient(#61C4DB 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
    }

    .liquid1:hover{
        --p: 100%;
        --t: 0.3s;
        color: #fff;
    }


    .story-name{ font-size: 12px; font-weight: 400; justify-self: center;}

.nav-sec{
    margin-top: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 0;
}

.grid{
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 2px;
}
    .post-img{
        height: 280px;
        width: 1fr;

        overflow: hidden;
        border-style: solid;
    }

@media (max-width: 1200px){
    section { 
        padding: 15%; 
        margin: 0%;
        
    }

    .main_box { 
        padding: 2%;
        border-style: none; 
        border-radius: 0;
        background: rgba(9, 9, 9, 0.14);
    }
    .profile-section{
        display: flex;
        flex-direction: row;
        margin-left: 7%;
    }
    .profile-pic { height: 120px; width: 120px;}
    .user-name { gap: 20px;}
    .stats { line-height: 1.3;}
    .name p { font-size: 20px;}
    .text-label{font-size: 13px;}
    .bio-section {width: 85%; align-self: center;}
    .bio-info { font-size: 15px;}
    .tags { grid-template-columns: 1fr 1fr;}
    .socials { margin: 0%; gap: 2%; align-self: center; width: 85%;}
    .social-box {font-size: 12px; padding: 0%; width: 50%;}
    .stories-section { 
        width: 85%; 
        align-self: center; 
        margin: 0; 
        gap: 10px;}
    .grid {
        padding-left: 5%;
        padding-right: 5%;
    }
    .post-img {
        height: 280px;
        border-width: 1px;
    }
    
}

@media (max-width: 992px){
    section { padding: 0%; margin: 0%;}
    header, footer { display: none;}

    .main_box { 
        padding: 2%; 
        margin: 0%; 
        border-style: none; 
        border-radius: 0;
        background: rgba(9, 9, 9, 0.14);
    }
    .profile-section{ 
        margin-top: 5%; 
        gap: 8%; 
        justify-content: center;
        margin-right: 15%;
    }
    .profile-pic { height: 80px; width: 80px;}
    .user-name { gap: 8px;}
    .stats { gap: 20px; line-height: 1.3;}
    .name p { font-size: 18px;}
    .text-label{font-size: 13px;}
    .bio-section {width: 85%; align-self: center;}
    .bio-info { font-size: 15px;}
    .tags { grid-template-columns: 1fr;}
    .socials { margin: 0%; gap: 2%; align-self: center; width: 85%;}
    .social-box {font-size: 12px; padding: 0%; width: 50%;}
    .stories-section { 
        width: 85%; 
        align-self: center; 
        margin: 0; 
        gap: 10px;}
    .post-img {
        height: 280px;
        border-width: 1px;
    }
    
}

@media (max-width: 915px){
    section { padding: 0%; margin: 0%;}
    header, footer { display: none;}

    .main_box { 
        padding: 2%; 
        margin: 0%; 
        border-style: none; 
        border-radius: 0;
        background: rgba(9, 9, 9, 0.14);
    }
    .profile-section{ 
        margin-top: 5%; 
        gap: 8%; 
        justify-content: center;
        margin-right: 15%;
    }
    .profile-pic { height: 80px; width: 80px;}
    .user-name { gap: 8px;}
    .stats { gap: 20px; line-height: 1.3;}
    .name p { font-size: 18px;}
    .text-label{font-size: 13px;}
    .bio-section {width: 85%; align-self: center;}
    .bio-info { font-size: 15px;}
    .tags { grid-template-columns: 1fr;}
    .socials { margin: 0%; gap: 2%; align-self: center; width: 85%;}
    .social-box {font-size: 12px; padding: 0%; width: 50%;}
    .stories-section { 
        width: 85%; 
        align-self: center; 
        margin: 0; 
        gap: 10px;}
    
}

@media (max-width: 768px){
    section { padding: 0%; margin: 0%;}
    header, footer { display: none;}

    .main_box { 
        padding: 2%; 
        margin: 0%; 
        border-style: none; 
        border-radius: 0;
        background: rgba(9, 9, 9, 0.14);
    }
    .profile-section{ 
        margin-top: 5%; 
        gap: 8%; 
        justify-content: center;
        margin-right: 0%;
    }
    .profile-pic { height: 80px; width: 80px;}
    .user-name { gap: 8px;}
    .stats { gap: 20px; line-height: 1.3;}
    .name p { font-size: 18px;}
    .text-label{font-size: 13px;}
    .bio-section {width: 85%; align-self: center;}
    .bio-info { font-size: 15px;}
    .tags { grid-template-columns: 1fr;}
    .socials { margin: 0%; gap: 2%; align-self: center; width: 85%;}
    .social-box {font-size: 12px; padding: 0%; width: 50%;}
    .stories-section { 
        width: 85%; 
        align-self: center; 
        margin: 0; 
        gap: 10px;}
    
}

@media (max-width: 600px){
    section { padding: 0%; margin: 0%;}
    header, footer { display: none;}

    .main_box { 
        padding: 2%; 
        margin: 0%; 
        border-style: none; 
        border-radius: 0;
        background: rgba(9, 9, 9, 0.14);
    }
    .profile-section{ 
        margin-top: 10%; 
        gap: 8px; 
        justify-content: space-around;
    }
    .profile-pic { height: 70px; width: 70px;}
    .user-name { gap: 0px;}
    .stats { gap: 20px; line-height: 1.3;}
    .name p { font-size: 15px;}
    .text-label{font-size: 13px;}
    .bio-section {width: 85%; align-self: center;}
    .bio-info { font-size: 14px;}
    .tags { grid-template-columns: 1fr;}
    .socials { margin: 0%; gap: 2%; align-self: center; width: 85%;}
    .social-box {font-size: 12px; padding: 0%; width: 50%;}
    .stories-section { 
        width: 85%; 
        align-self: center; 
        margin: 0; 
        gap: 10px;}

    
}